body {
    font-family: "NotoSans", sans-serif;
}

img {
    max-width: inherit;
}

#wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f3f3f1;
    min-width: 1024px;
    top: 0;
}

#intro_dimmed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
}

#main {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    padding-top: 80px;
    z-index: 1;
    min-width: 1024px;
    max-width: 2000px;
    margin: 0 auto;
}

#main .main_container {
    position: relative;
    width: 100%;
    height: 100%;
}

#main .main_container .section {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    z-index: 3;
    width: 100%;
    left: 0;
    margin-left: 0;
}

#main .main_container .section1 {
    z-index: 0;
}

#main .main_container .section .section_box {
    position: absolute;
    top: 50%;
    margin: -417px 0 0 0;
    width: 100%;
    height: 100%;
}

.section {
    background-color: #fff;
}

.section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
}

#section1 {
    background: url("../images/index/index_bg1.png") center center no-repeat;
    background-size: cover;
}

#section1 .main_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -700px;
    height: 800px;
    z-index: 3;
}

#section1 .main_contents .circle {
    position: absolute;
    top: 343px;
    left: 700px;
}

#section1 .main_contents .circle li {
    position: absolute;
    top: -300px;
    left: -300px;
    opacity: 0;
}

#section1 .main_contents .text_area {
    position: relative;
    width: 1400px;
    text-align: center;
    margin-top: 180px;
}

#section1 .main_contents .text_area .text_box li {
    opacity: 0;
}

#section1 .main_contents .text_area .text_box .s1_subtitle {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 0 13px;
    margin-top: 0;
}

#section1 .main_contents .text_area .text_box .logo {
    margin-top: 16px;
}

#section1 .main_contents .text_area .text_box .line {
    width: 19px;
    height: 1px;
    background-color: #79797a;
    margin: 23px auto;
}

#section1 .main_contents .text_area .text_box .desc {
    font-size: 14px;
    color: #000000;
    line-height: 25px;
    margin-top: 30px;
}

#section1 .main_contents .text_area .text_box .scroll_info {
    position: relative;
    width: 90px;
    margin: 48px auto;
}

#section1 .main_contents .text_area .text_box .scroll_info div {
    position: absolute;
    top: 0;
    left: 0;
}

#section1 .main_contents .text_area .text_box .scroll_info .scroll_copy {
    top: 14px;
    left: 14px;
}

#section1 .main_contents .text_area .text_box .scroll_info .scroll_seq {
    top: 38px;
    left: 35px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

#section2 {
    background-size: cover;
    display: none;
}

#section2 .section2-list {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

#section2 .section2-list li {
    width: 33.33333333%;
    height: 280px;
    float: left;
    background-size: 100% 100%;
}

#section2 .section2-list li a > img {
    width: 100%;
}

#technology_1 {
    background: url(../images/index/technology_1.png) no-repeat;
}

#technology_1:hover {
    background: url(../images/index/technology-s_1.png) no-repeat;
}

#technology_2 {
    background: url(../images/index/technology_2.png) no-repeat;
}

#technology_3 {
    background: url(../images/index/technology_3.png) no-repeat;
}

#technology_3:hover {
    background: url(../images/index/technology-s_3.png) no-repeat;
}

#technology_4 {
    background: url(../images/index/technology_4.png) no-repeat;
}

#technology_5 {
    background: url(../images/index/technology_5.png) no-repeat;
}

#technology_5:hover {
    background: url(../images/index/technology-s_5.png) no-repeat;
}

#technology_6 {
    background: url(../images/index/technology_6.png) no-repeat;
}

#technology_7 {
    background: url(../images/index/technology_7.png) no-repeat;
}

#technology_7:hover {
    background: url(../images/index/technology-s_7.png) no-repeat;
}

#technology_8 {
    background: url(../images/index/technology_8.png) no-repeat;
}

#technology_8:hover {
    background: url(../images/index/technology-s_8.png) no-repeat;
}

#technology_9 {
    background: url(../images/index/technology_9.png) no-repeat;
}

#technology_9:hover {
    background: url(../images/index/technology-s_9.png) no-repeat;
}

#section3 {
    background-size: cover;
    display: none;
}

#section3 .section3-list {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

#section4 {
    display: none;
}

#section5 {
    display: none;
}

#section5 .section5-list {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 93%;
}

.section .section5-list .desc {
    font-size: 15px;
    margin-top: 39px;
    line-height: 24px;
}

#dot_menu {
    position: absolute;
    top: 50%;
    right: 0;
    width: 200px;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    margin-top: -60px;
}

#dot_menu .dot_menu_box {
    max-width: 1800px;
    margin: 0 auto;
}

#dot_menu .dot_menu_box a {
    position: relative;
    float: right;
    clear: both;
    display: block;
    margin-bottom: 0;
    margin-right: 52px;
    width: 160px;
    height: 27px;
}

#dot_menu .dot_menu_box a div.icons {
    float: right;
    position: relative;
    margin-left: 20px;
}

#dot_menu .dot_menu_box a div.icons .icon {
    position: absolute;
    top: -2px;
    left: -10px;
    visibility: hidden;
    opacity: 0;
}

#dot_menu .dot_menu_box a div.mouse_box {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width:1200px) {
    #main {
        padding-top: 60px;
    }
}

@keyframes main-scroll-frame {
    3% {
        margin-top: -25px;
    }
    7% {
        margin-top: -50px;
    }
    11% {
        margin-top: -75px;
    }
    15% {
        margin-top: -100px;
    }
    19% {
        margin-top: -125px;
    }
    23% {
        margin-top: -150px;
    }
    26% {
        margin-top: -175px;
    }
    30% {
        margin-top: -200px;
    }
    34% {
        margin-top: -225px;
    }
    38% {
        margin-top: -250px;
    }
    42% {
        margin-top: -275px;
    }
    46% {
        margin-top: -300px;
    }
    50% {
        margin-top: -325px;
    }
    53% {
        margin-top: -350px;
    }
    57% {
        margin-top: -375px;
    }
    61% {
        margin-top: -400px;
    }
    65% {
        margin-top: -425px;
    }
    69% {
        margin-top: -450px;
    }
    73% {
        margin-top: -475px;
    }
    76% {
        margin-top: -500px;
    }
    80% {
        margin-top: -525px;
    }
    84% {
        margin-top: -550px;
    }
    88% {
        margin-top: -575px;
    }
    92% {
        margin-top: -600px;
    }
    96% {
        margin-top: -625px;
    }
    100% {
        margin-top: -650px;
    }
}

@-webkit-keyframes main-scroll-frame {
    3% {
        margin-top: -25px;
    }
    7% {
        margin-top: -50px;
    }
    11% {
        margin-top: -75px;
    }
    15% {
        margin-top: -100px;
    }
    19% {
        margin-top: -125px;
    }
    23% {
        margin-top: -150px;
    }
    26% {
        margin-top: -175px;
    }
    30% {
        margin-top: -200px;
    }
    34% {
        margin-top: -225px;
    }
    38% {
        margin-top: -250px;
    }
    42% {
        margin-top: -275px;
    }
    46% {
        margin-top: -300px;
    }
    50% {
        margin-top: -325px;
    }
    53% {
        margin-top: -350px;
    }
    57% {
        margin-top: -375px;
    }
    61% {
        margin-top: -400px;
    }
    65% {
        margin-top: -425px;
    }
    69% {
        margin-top: -450px;
    }
    73% {
        margin-top: -475px;
    }
    76% {
        margin-top: -500px;
    }
    80% {
        margin-top: -525px;
    }
    84% {
        margin-top: -550px;
    }
    88% {
        margin-top: -575px;
    }
    92% {
        margin-top: -600px;
    }
    96% {
        margin-top: -625px;
    }
    100% {
        margin-top: -650px;
    }
}

@-moz-keyframes main-scroll-frame {
    3% {
        margin-top: -25px;
    }
    7% {
        margin-top: -50px;
    }
    11% {
        margin-top: -75px;
    }
    15% {
        margin-top: -100px;
    }
    19% {
        margin-top: -125px;
    }
    23% {
        margin-top: -150px;
    }
    26% {
        margin-top: -175px;
    }
    30% {
        margin-top: -200px;
    }
    34% {
        margin-top: -225px;
    }
    38% {
        margin-top: -250px;
    }
    42% {
        margin-top: -275px;
    }
    46% {
        margin-top: -300px;
    }
    50% {
        margin-top: -325px;
    }
    53% {
        margin-top: -350px;
    }
    57% {
        margin-top: -375px;
    }
    61% {
        margin-top: -400px;
    }
    65% {
        margin-top: -425px;
    }
    69% {
        margin-top: -450px;
    }
    73% {
        margin-top: -475px;
    }
    76% {
        margin-top: -500px;
    }
    80% {
        margin-top: -525px;
    }
    84% {
        margin-top: -550px;
    }
    88% {
        margin-top: -575px;
    }
    92% {
        margin-top: -600px;
    }
    96% {
        margin-top: -625px;
    }
    100% {
        margin-top: -650px;
    }
}

.main-scroll-motion {
    animation-name: main-scroll-frame;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    -webkit-animation-name: main-scroll-frame;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: main-scroll-frame;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: step-start;
    -moz-animation-iteration-count: infinite;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

body {
    font-family: 'å¾®è½¯é›…é»‘', 'Microsoft YaHei';
}

.cb-project-fill {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.cb-project-body {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    color: #fff;
}

@media (min-width: 768px) {
    .cb-project-body {
        width: 60%;
    }
}

.cb-project-body-inner {
    display: table-cell;
    vertical-align: bottom;
    padding: 20px 0;
}

@media (min-width: 375px) {
    .cb-project-body-inner {
        padding: 25px 0;
    }
}

@media (min-width: 768px) {
    .cb-project-body-inner {
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .cb-project.-half {
        height: 100%;
    }
}

.cb-project.-half .cb-project-fill {
    opacity: 0.95;
    width: 100%;
}

@media (min-width: 768px) {
    .cb-project.-half .cb-project-fill {
        opacity: 1;
        width: 60%;
    }
}

.cb-borough-project .cb-project-fill {
    background: url(../images/indexnews.jpg) no-repeat center top;
    background-size: auto 110%;
}

.cb-projects-right {
    display: none;
}

@media (min-width: 768px) {
    .cb-projects-right {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40%;
        z-index: 2;
        background: #f2f2f2;
    }
}

.cb-projects-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 52px;
    height: 100%;
    background: #8dc400;
}

@media (min-width: 375px) {
    .cb-projects-line {
        width: 62px;
    }
}

@media (min-width: 768px) {
    .cb-projects-line {
        width: 75px;
    }
}

@media (min-width: 1366px) {
    .cb-projects-line {
        width: 115px;
    }
}

@media (min-width: 1600px) {
    .cb-projects-line {
        width: 155px;
    }
}

.cb-projects-menu {
    height: 100%;
}

.cb-projects-menu-inner {
    position: relative;
    padding: 200px 0 0 0;
}

@media (min-width: 375px) {
    .cb-projects-menu-inner {
        padding: 185px 0 0 0;
    }
}

@media (min-width: 768px) {
    .cb-projects-menu-inner {
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.cb-projects-menu-item-num {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 100%;
    margin: 0 22px 0 0;
    overflow: hidden;
    color: #EDEDED;
    font-family: "arial", "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    float: left;
}

@media (min-width: 375px) {
    .cb-projects-menu-item-num {
        width: 62px;
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .cb-projects-menu-item-num {
        width: 75px;
        margin: 0 30px 0 0;
    }
}

@media (min-width: 1366px) {
    .cb-projects-menu-item-num {
        width: 115px;
        margin: 0 39px 0 0;
    }
}

@media (min-width: 1600px) {
    .cb-projects-menu-item-num {
        width: 155px;
    }
}

.cb-projects-menu-item-num div {
    position: relative;
    line-height: 60px;
    display: initial;
    vertical-align: middle;
    transform-origin: center;
    transform: rotate(-90deg) translateX(-1em);
}

.cb-projects-menu-item-arr {
    line-height: 60px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    vertical-align: middle;
    transition: width 0.2s ease-in-out, margin 0.1s ease-in-out 0.1s;
    color: #8dc400;
    font-weight: bolder;
    margin-right: 16px;
    float: left;
}

.cb-projects-menu-item-title {
    display: inline-block;
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.87px;
    vertical-align: middle;
    float: left;
    line-height: 60px;
    max-width: 306px;
}

@media (min-width: 375px) {
    .cb-projects-menu-item-title {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .cb-projects-menu-item-title {
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .this {
        background: #fff;
        display: inline-block;
        width: 100%;
    }
    .this .cb-projects-menu-item-num > div {
        color: #8dc400;
        display: initial;
    }
    .cb-projects-menu-inner > span {
        display: inline-block;
        width: 100%;
        height: 60px;
        overflow: hidden;
    }
}

.cb-projects-menu-year {
    width: 52px;
    height: 45px;
    margin: 18px 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    white-space: nowrap;
    color: #000;
}

@media (min-width: 375px) {
    .cb-projects-menu-year {
        width: 62px;
        height: 51px;
        font-size: 18px;
        letter-spacing: 0.9px;
    }
}

@media (min-width: 768px) {
    .cb-projects-menu-year {
        width: 75px;
        height: 73px;
        font-size: 23px;
        letter-spacing: 1px;
    }
}

@media (min-width: 1366px) {
    .cb-projects-menu-year {
        width: 115px;
    }
}

@media (min-width: 1600px) {
    .cb-projects-menu-year {
        width: 155px;
    }
}

.cb-projects-menu-year div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform-origin: center;
    transform: rotate(-90deg) translateX(-1em);
    color: #fff;
}
